.taskdiv{
    min-height: 300px;
    max-height: fit-content;
    margin: 30px 0 0 3rem;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    justify-content: space-around;
    align-items:baseline;
}

.taskdiv > .taskbox{
    background-color: #fff;
    width: 500px;
    min-height: min-content;
    max-height: 230px;
    border: 3px groove #164ba1;
    border-radius: 5px;
    margin: 20px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
.taskbox > h1,p{
    padding: 8px 10px 5px 15px;
}

.taskbox > p{
    padding: 2px 10px 10px 25px;
}
.taskbox > #task-btns{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.taskbox  button{
    width: auto;
    padding: 8px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
#task-btns > .btn1{
     color: #1E90FF;
}
#task-btns > .btn2{
    color: red;
}

/* this is for mobile */
@media (max-width:365px){
    .taskdiv{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin: 40px 0 0 .5rem;
    }
    .taskdiv > .taskbox{
        width: 300px;
        min-height: 160px;
        margin: 10px;
    }
    .taskbox > h1{
        font-size: 1.5rem;
        padding: 8px 10px 5px 10px;
    }
    .taskbox > p{
        padding: 5px 10px 10px 10px;
    }
    .taskbox > #task-btns{
        height: 60px;
    }
    .taskbox  button{
        width: auto;
        padding: 8px;
        font-size: 1rem;
    }
}

@media (365px <= width <= 768px){
    .taskdiv{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin: 40px 0 0 .5rem;
    }
    .taskdiv > .taskbox{
        width: 350px;
        min-height: 160px;
        margin: 10px;
    }
    .taskbox > h1{
        font-size: 1.5rem;
        padding: 8px 10px 5px 10px;
    }
    .taskbox > p{
        padding: 5px 10px 10px 10px;
    }
    .taskbox  button{
        width: auto;
        padding: 8px;
        font-size: 1rem;
    }
}

@media (768px <= width <= 992px){
    .taskdiv{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        column-gap: 2rem;
        margin: 40px 0 0 .5rem;
    }
    .taskdiv > .taskbox{
        width: 650px;
        min-height: 160px;
        margin: 10px;
    }
}




/* this is for edit box  */
.editdiv{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.edit-box{
    width: 400px;
    height: 300px;
    border: 3px groove #164ba1;
    border-radius: 10px;
    display: flex;
    flex-direction: column ;
    background-color: #fff;
}
.edit-box > #edit-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #22262b;
}

#edit-content > .close-icon{
    font-size:large;
}

#edit-form input,textarea,button{
    width: 360px;
    margin: 10px 10px;
    font-size: large;
    letter-spacing: 1px;
}

#edit-form > input{
    padding: 5px 5px;
}

#edit-form > textarea{
    padding: 5px 5px 40px 5px;
}

#edit-form > button{
    padding: 5px 10px;
    margin-left: 15px;
    background-color: #22262b;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}

@media(max-width:365px){
    .editform{
        height: 400px;
    }
    .edit-box{
        width: 250px;
        height: 260px;
    }
    #edit-content > h1{
        font-size: 1.7rem;
    }
    #edit-form input{
        width: 220px;
        margin: 5px 10px;  
    }
    #edit-form > textarea{
        width: 220px;
        margin: 5px 10px;
    }
    #edit-form > button{
        width: 225px;
        margin: 5px 12px;
    }   
}

@media (365px <= width <= 576px) {
    .editform{
        height: 400px;
    }
    .edit-box{
        width: 300px;
        height: 260px;
    }
    #edit-content > h1{
        font-size: 1.7rem;
    }
    #edit-form input{
        width: 260px;
        margin: 5px 10px;  
    }
    #edit-form > textarea{
        width: 260px;
        margin: 5px 10px;
    }
    #edit-form > button{
        width: 265px;
        margin: 5px 12px;
    }
}
@media (576px <= width <= 992px){
    .editform{
        height: 380px;
    }
    .edit-box{
        width: 400px;
        height: 260px;
    }
    .edit-content > h1{
        font-size: 1.9rem;
    }
    #edit-form input{
        width: 360px;
        margin: 5px 10px;  
    }
    #edit-form > textarea{
        width: 360px;
        margin: 5px 10px;
    }
    #edit-form > button{
        width: 365px;
        margin: 5px 12px;
    }
}
