.taskform{
    width: 100%;
    height: 500px;
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: #fcfafa ;
}
.task-box{
    width: 400px;
    height: 300px;
    border: 3px groove #164ba1;
    border-radius: 10px;
    display: flex;
    flex-direction: column ;
    background-color: #fff;
}
.task-box > h1{
    text-align: center;
    padding: 10px;
    color: #22262b;
}
#task-form input,textarea,button{
    width: 360px;
    margin: 10px 10px;
    font-size: large;
    letter-spacing: 1px;
}

#task-form > input{
    padding: 5px 5px;
}

#task-form > textarea{
    padding: 5px 5px 40px 5px;
}

#task-form > button{
    padding: 5px 10px;
    margin-left: 15px;
    background-color: #22262b;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}

@media (max-width:365px){
    .taskform{
        height: 380px;
    }
    .task-box{
        width: 250px;
        height: 260px;
    }
    .task-box > h1{
        font-size: 1.7rem;
    }
    #task-form input{
        width: 220px;
        margin: 5px 10px;  
    }
    #task-form > textarea{
        width: 220px;
        margin: 5px 10px;
    }
    #task-form > button{
        width: 225px;
        margin: 5px 12px;
    }
}
@media (365px <= width <= 576px) {
    .taskform{
        height: 380px;
    }
    .task-box{
        width: 300px;
        height: 260px;
    }
    .task-box > h1{
        font-size: 1.7rem;
    }
    #task-form input{
        width: 260px;
        margin: 5px 10px;  
    }
    #task-form > textarea{
        width: 260px;
        margin: 5px 10px;
    }
    #task-form > button{
        width: 265px;
        margin: 5px 12px;
    }
}

@media (576px <= width <= 768px){
    .taskform{
        height: 380px;
    }
    .task-box{
        width: 380px;
        height: 260px;
    }
    .task-box > h1{
        font-size: 1.9rem;
    }
    #task-form input{
        width: 340px;
        margin: 5px 10px;  
    }
    #task-form > textarea{
        width: 340px;
        margin: 5px 10px;
    }
    #task-form > button{
        width: 345px;
        margin: 5px 12px;
    }
}